[core]
	editor = nano
	excludesfile = /Users/ted/.global_gitignore
[user]
	name = Ted
	email = 50776059+lucas979797@users.noreply.github.com
	username = cycloss
[merge]
    	tool = vscode
[mergetool "vscode"]
    	cmd = code -n --wait $MERGED
[diff]
    	tool = vscode
[difftool "vscode"]
    	cmd = code -n --wait --diff $LOCAL $REMOTE
[init]
	defaultBranch = main
