set nohelp true
set linenumbers true
set numbercolor black
set softwrap true

unbind M-B all
bind M-B prevword all
unbind M-F all
bind M-F nextword all
unbind ^K main
unbind ^U main
unbind ^K main
bind ^Z undo main
bind ^K cut main
unbind ^Y main
bind ^Y paste main
bind ^W exit all
bind ^O savefile all
unbind ^F all
bind ^F whereis all
unbind ^G all
bind ^G findnext all

